<%provide(:title, 'Planos') %>
<div>
<h1> CONHEÇA NOSSOS PLANOS!</h1>
</div>
<hr>

<%= link_to "/clientes/new" do %>
  
  <div class="btns">

  <%= image_tag("planos/plano_light", class: "photo") %>

  <%= image_tag("planos/plano_plus", class: "photo") %>
  </div>
<% end %>
